doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0 user-scalable=no')

  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  // Import Google Icon Font
  link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(rel='stylesheet',type="text/css", href='/app.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script', rel='stylesheet')
  title= title
body
  section#header-container
  section#main-container
  // Import jQuery before materialize.js
  script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
  // Compiled and minified JavaScript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
  script(type='application/javascript', src='/app.js') <!-- Va a ser buscado en la '/publi' pues es allí donde estan nuestros archivos estáticos. Ver 'Gulpfile.js' app.task => scripts -->
